
    /*About us style*/
    
:root{
  --main: #ff6e01;
  --bg: #f1e1d2;
  --black: #000;
  --white: #fff;
  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}
    
    *{
        font-family: 'Roboto', sans-serif;
        margin: 0; padding: 0;
        box-sizing: border-box;
        outline: none; border: none;
        text-decoration: none;
        text-transform: capitalize;
        transition: .2s linear;
      }
      
      html{
        font-size: 62.5%;
       
      }
      
      html::-webkit-scrollbar{
        width: 1rem;
      }
      
      html::-webkit-scrollbar-track{
        background: transparent;
      }
      
      html::-webkit-scrollbar-thumb{
        background:#304D30;
        border-radius: 5rem;
      }
      
      section{
        padding: 2rem 7%;
      }
      
      .heading{
        text-align: center;
        color:#294B29;
        text-transform: uppercase;
        margin-bottom: 3rem;
        padding: 1.2rem 0;
        font-size: 4rem;
      }
      
      .heading span{
        color: #4F6F52;
        text-transform: uppercase;
      }

    
/* about us */


.about .row{
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
    align-items: center;
  }
  
  .about .row .image{
    flex: 1 1 30rem;
  }
  
  .about .row .image img{
    width: 100%;
  }
  
  .about .row .content{
    flex: 1 1 50rem;
  }
  .about .row .content h3{
    font-size: 3.5rem;
    color: var(--color);
    padding: 2rem 0;
  }
  
  .about .row .content p{
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem 0;
    line-height: 1.8;
  }
  
  /* end */

    /* banner */

    .banner{
      margin-bottom: 150px;
        background: url(/images/banner.png) no-repeat;
      }
      
      .banner .row{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 6rem;
      }
      
      .banner .row .content{
        flex:  1 1 39rem;
      }
      
      .banner .row .content h3{
        font-size: 2rem;
        color: var(--main);
        text-transform: uppercase;
      }
      
      .banner .row .content p{
        font-size: 1.6rem;
        color: var(--black);
        padding: 1rem 0;
        line-height: 1.8;
      }
      
      .banner .row .image{
        flex: 1 1 41rem;
        margin-bottom: -14rem;
      }
      
      .banner .row .image img{
        width: 100%;
      }

     /*last section of about*/

     
/* about */

.about .box-container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6rem;
}

.about .deco-title{
  font-size: 10rem;
  font-weight: 700;
  white-space: nowrap;
  line-height: 0.5;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px rgb(204,204,204);
  transform-origin: top left;
  transform: rotate(0.25turn);
  position: absolute;
  top: 115%;
  left: 48%;
  z-index: -1;
}

.about .box-container .image{
  flex: 1 1 31rem;
}

.about .box-container .image img{
  width: 100%;
}

.about .content{
  flex: 1 1 41rem;
}

.about .content .title{
  font-size: 4rem;
  color: var(--black);
}

.about .content p{
  font-size: 1.7rem;
  color: #444;
  padding: 1rem 0;
  line-height: 2;
}

.about .content .icons-container{
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  margin-top: 3rem;
}

.about .content .icons-container .icons{
  flex: 1 1 16rem;
  text-align: center;
  background: var(--bg);
  padding: 3rem 2rem;
}

.about .content .icons-container .icons .fas{
  height: 5rem;
  font-size: 4rem;
  color: var(--main);
}

.about .content .icons-container .icons h3{
  padding-top: 1rem;
  font-size: 1.5rem;
  color: #444;
  font-weight: normal;
}

/* end */

     /*end of last section*/
      
      /* end */